body { background-color:#8ACFF8; }

h1 {	color:#8ACFF8;
		text-align:center;
		font-size: 30pt;
		font-weigth: normal;
		font-family: sans-serif;
		font-style: italicos;
	}
	
p  {
	color:#BDB2FF;
	background-color: blue;
	padding: 0.6 em;
	margin: auto;
	margin-botttom: 5 em;
	text-align: right;
	border: 3px dashed black;
	width: 50%;
	min-width: 40em;
	}
	
.kanan { text-align: right; }
.kiri { text-align: left; }
.tengah { text-align: center; }

.krem {background-color: #FFF6DC }
.oren {background-color: #F2842F }
.ungu {background-color: #9564DD }
.hijau {background-color: #76C457 }
.abu {background-color: #C5C1C1 }
.kuning {background-color: #FFF449 }
.coklat {background-color: #60241E }
.mereah {background-color: #FF0000 }
.biru {background-color: #4C8CE4 }
	
div {
	text-align:center;
	}
	
a {
	color: #6E3511;
	text-decoration:none;
	}
